{% extends 'base.html' %}
{% block pagetitle %}
{{title}}
{% endblock pagetitle %}
{% block body %}

<div class="container montserrat">
  <header>
    <div>
      AI Plant care
    </div>
    <div>
      Powered by E-Goof@ENSEACK 2025
    </div>
  </header>
  <div class="scan">
    <div class="qr-scan">
      <div class="top-line"></div>
      <div class="left-line"></div>
      <div class="right-line"></div>
      <div class="bottom-line"></div>
      <div class="scan-bar"></div>

      
     <img class="scan-img" src="/static/image_test.jpg" alt="Image from camera" />
    </div>
  </div>
  <!-- <div class="stats">
    <div class="stats_item">
     <img class="stats-img" src="/static/sun.png" alt="" />
      <div class="stats_title">Atmosphere</div>
      <div class="stats_figure">Sunny</div>
    </div>
    <div class="stats_item">
     <img class="stats-img" src="/static/water.png" alt="" />
      <div class="stats_title">Humidity</div>
      <div class="stats_figure">42%</div>
    </div>
  </div> -->
  <div class="description">
      <h1 class="description-title">{{title}}</h1>
      <img class="description-img" src={{image_url}} alt="" />
      <h2 class="description-subtitle">
            {% if pred==3 or pred==5 or pred==7 or pred==11 or pred==15 or pred==18 or pred==20 or pred==23 or
            pred==24 or pred==25 or pred==28 or pred==38 %}
            💡 Tips to Grow Healthy Plants :
            {% else %}
            📖 Brief Descritpion :
            {% endif %}
      </h2>
      <p class="description-desc">
          {{desc}}
      </p>
      <h2 class="description-subtitle">
        {% if pred==3 or pred==5 or pred==7 or pred==11 or pred==15 or pred==18 or pred==20 or pred==23 or
        pred==24 or pred==25 or pred==28 or pred==38 %}
        📈 Benefits :
        {% else %}
        🦠 Prevent This Plant Disease By follow below steps :
        {% endif %}
      </h2>
      <p class="description-desc">
          {{prevent}}
      </p>
  </div>
</div>

{% endblock body %}